{% extends 'base.html.twig' %}
{% block title %}{{'successful_submission'|trans}}{% endblock %}
{% block body %}
    <div class="m-4">
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endblock %}